// Colors
$clr-primary: #0079ff;
$clr-primary-1: #697c9a;
$clr-primary-2: #4b6a9b;
$clr-primary-3: #2b3442;
$clr-light-primary: #f6f8ff;
$clr-light: #fefefe;
$clr-white: #fff;
$clr-midnight: #141d2f;
$clr-dark: #1e2a47;
$clr-dark-1: #222731;



